force-app/main/default/flows/Create_Workday_Support_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PredictCaseFields</name>
        <label>Predict Case Fields</label>
        <locationX>50</locationX>
        <locationY>100</locationY>
        <actionName>CaseFieldPredictor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetPredictionDefaults</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>transcript</name>
            <value>
                <elementReference>ai_transcript</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>issueSummary</name>
            <value>
                <elementReference>issue_summary</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>issueType</name>
            <value>
                <elementReference>issue_type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workdayModule</name>
            <value>
                <elementReference>workday_module</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CaseFieldPredictor</nameSegment>
        <outputParameters>
            <assignToReference>predicted_priority</assignToReference>
            <name>predictedPriority</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>predicted_product_area</assignToReference>
            <name>predictedProductArea</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetCreateFailed</name>
        <label>Set Create Failed</label>
        <locationX>250</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetPredictionDefaults</name>
        <label>Set Prediction Defaults on Fault</label>
        <locationX>250</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>predicted_priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>predicted_product_area</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSuccess</name>
        <label>Set Success</label>
        <locationX>50</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Creates a contextual Workday support case with auto-predicted Priority and Product Area (Phase 1: Seamless Case Transition). Attaches the full AI transcript and structured summary to ensure zero-context loss for human agents.</description>
    <interviewLabel>Create Workday Support Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Workday Support Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>Create Support Case</label>
        <locationX>50</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>GetCreatedCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetCreateFailed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AI_Summary__c</field>
            <value>
                <elementReference>ai_summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Transcript__c</field>
            <value>
                <elementReference>ai_transcript</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>account_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contact_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>predicted_priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Area__c</field>
            <value>
                <elementReference>predicted_product_area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>issue_summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>issue_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workday_Module__c</field>
            <value>
                <elementReference>workday_module</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCreatedCase</name>
        <label>Get Case Number</label>
        <locationX>50</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetSuccess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateCase</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>case_number</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>case_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PredictCaseFields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Account ID of the customer organisation</description>
        <name>account_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Structured AI-generated summary of the conversation for human agent review</description>
        <name>ai_summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Full conversation transcript from the agent session for zero-context handoff</description>
        <name>ai_transcript</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Salesforce record ID of the created case</description>
        <name>case_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Case number of the created Salesforce case</description>
        <name>case_number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Contact ID of the authenticated customer admin</description>
        <name>contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Summary of the customer issue captured during the agent session</description>
        <name>issue_summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Issue type category (troubleshooting or configuration)</description>
        <name>issue_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Auto-predicted case priority from CaseFieldPredictor</description>
        <name>predicted_priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Auto-predicted product area from CaseFieldPredictor for routing</description>
        <name>predicted_product_area</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>True if case was created successfully</description>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Workday module affected (HCM, Financials, Payroll, etc.)</description>
        <name>workday_module</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
